{% extends "base.html" %}

{% block content %}
    <form class="main_window">
        <div style="margin: 10px;">
            <h1>Все вопросы с сайта</h1>
            <ul>
                {% for new in news %}
                <div class="col-md6 border rounded" style="background-color: #f8f9fa;">
                    <div style="margin: 10px;">
                        <h2>{{new.title}}</h2>
                        <p><b>Дата: {{new.created_date.date() }}</b></p>
                        <p>{{ new.content}}</p>
                        <a class="btn btn-warning" href="/add_comment">
                            Добавить ответ
                        </a>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </form>
{% endblock %}