{% extends "base.html" %}

{% block content %}
    <form enctype="multipart/form-data" class="main_window">
        <div class="row">
                <div class="col-md-2">
                    <label style="margin: 10px">
                        <div>
                            <img src=/{{avatar}} width="150" height="150" style="border-radius: 100%;">
                        </div>
                    </label>
            </div>
                <div class="col">
                    <h1 style="margin: 10px">{{nickname }}</h1>
                    <h5 style="margin: 10px">{{ about }}</h5>

                </div>
        </div>
    </form>

{% endblock %}