{% extends "base.html" %}

{% block content %}
    <h1>Записи в блоге</h1>
    {% for item in news%}
        <div class="col-md6 border rounded" style="background-color: #f8f9fa; margin-top: 20px;">
            <h2><a href="/question/{{ item.id }}">{{item.title}}</a></h2>
            <div>
                {{item.content}}
            </div>
            <div>
                Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
            </div>
            {% if current_user.is_authenticated and current_user == item.user %}
                <div>
                    <a href="/ask/{{ item.id }}" class="btn btn-warning">
                        Изменить
                    </a>
                    <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
                        Удалить
                    </a>
                </div>
            {% endif %}
        </div>

    {% endfor %}
{% endblock %}