{% extends "base.html" %}

{% block content %}
    <form class="main_window">
    <h1 style="margin: 10px">Вопросы пользователей</h1>
    {% for item in news%}
        <div class="col-md6 border rounded" style="margin: 10px;">
            <h2 style="margin: 10px;"><a href="/question/{{ item.id }}">{{item.title}}</a></h2>
            <div style="margin: 10px">
                {{item.content}}
            </div>
            <div style="margin: 10px">
                Автор - <a href="/user/{{item.user.id}}">{{item.user.name}}</a>
            </div>
            {% if current_user.is_authenticated and current_user == item.user %}
                <div style="margin: 10px">
                    <a href="/ask/{{ item.id }}" class="btn btn-warning">
                        Изменить
                    </a>
                    <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
                        Удалить
                    </a>
                </div>
            {% endif %}
        </div>

    {% endfor %}
    </form>
{% endblock %}