{% extends "base.html" %}

{% block content %}
<form action = "/success_answer/{{ form.news_id }}" method = "post" enctype="multipart/form-data" class="main_window">
    <div class="row">
        <div class="col-md-1">
            <label style="margin: 10px">
                <div class="animate2">
                    {% if current_user.is_authenticated %}
                    <img src=/{{current_user.avatar}} width="70" height="70" style="border-radius: 100%;">
                    {% else %}
                    <img src="/static/img/no_image.png" width="70" height="70" style="border-radius: 100%;">
                    {% endif %}
                </div>
            </label>
        </div>
        <div class="col">
            <h1>{{form.title.data}}</h1>
            <h5>{{form.content.data}}</h5>
            {% for item in answers%}
            <div style="margin: 10px">
                    {{item.text}}
            </div>
            {% endfor %}
            <h6 style="margin-top: 30px">Ответить:</h6>
            <input type="text" name="answer">
            <div style="margin-top: 20px">
                {% if current_user.is_authenticated %}
                <button type="button" class="btn btn-success">Ответить</button>
                {% else %}
                <button type="button" class="btn btn-secondary" disabled>Ответить</button>
                {% endif %}
            </div>
        </div>

    </div>
</form>
{% endblock %}